<center>
<h1>Welcome to GroceryApp, <%= logged_in? ? current_user.username : 'User!' %></h1>
<br>
<br>
<p>Keep track of your grocery list by simply adding your items, along with the quantity, and delete as you purchase.</p>
</center>